POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_PORT=5432
# URL de connexion Prisma (construite à partir des variables ci-dessus)
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydatabase
OPENAI_API_KEY=